---
layout: layouts/page.njk
---
{% block body %}
<div class="hero">
  <h1 class="h1 text-center text-secondary font-sans font-bold py-4">
    Flawless websites and UX

  </h1>
  <h2 class="h2 text-center mx-0 lg:mx-44 py-4">
    Don't waste any more time checking websites or using checklists.<br/>
    Sitefig will do it for you.
  </h2>
</div>

<section class="card hover:shadow-lg">
  <div class="md:grid md:grid-cols-2 md:gap-4">
    <div>
      <img src="/img/main-screen.png"/>
    </div>
    <div>
      <h4 class="text-left">Skip time-consuming website testing</h4>

      <p>A website can look great, but hide nothing but errors.</p>
      <p>
        Errors such as broken-links, javascript errors, missing images or javascript libraries,
        and slow loading GDPR pop-ups will ruin the UX for the customer.</p>
      <p>
        Customers aren't waiting around to report slow loading pages to the developers.</p>

      <p>A neither will they come back.
      </p>
    </div>
  </div>
</section>

<div class="container md:max-w-2xl mx-auto flex flex-wrap justify-center py-8">
  <div class="bg-gradient-to-r from-teal to-cyan p-6 rounded text-black text-center ">
    <a class="h4 block" href="https://app.sitefig.eu/accounts/signup/">
      Try out sitefig for free, and set up a DEMO account.<br/>
      <small>(Scan 100 pages for free)</small>
    </a>
  </div>
</div>

<section class="card hover:shadow-lg">
  <div class="md:grid md:grid-cols-2 md:gap-4">
    <div>
      <img src="/img/main-screen.png"/>
    </div>
    <div>
      <h4 class="text-left">UX audits: 300+ different tests</h4>

      <p>Sitefig audits your website against a number of standards (W3C, HTML5, WCAG) and application provided by Google (Lighthouse),
        Deque (Axe-core) and custom developed by Sitefig.</p>
      <p>Screenshots at different screensizes make sure you know what your customers see.</p>

      <p>Font and image are tested for speed and size, as well as loading the right format.</p>

    </div>
  </div>
</section>

<div class="text-center bg-gradient-to-r from-cyan to-teal rounded shadow mt-10 mb-10 lg:mx-64 p-6 font-sans font-bold">
  <figure>
    <img src="/img/mozilla-matjas.jpg" class="max-h-32 inline rounded-full"/>
    <blockquote class="text-white">
      Sitefig is so far ahead in terms of error detection.
    </blockquote>
    <figcaption>
      <span class="text-white">Matjas Horvat</span>
      <cite class="text-white text-sm">
        <a href="https://www.mozilla.si/author/matjaz-horvat/">
          Software engineer at moz://a - Mozilla
        </a>
      </cite>
    </figcaption>
  </figure>
  <blockquote></blockquote>

</div>

<section class="card hover:shadow-lg">
  <div class="md:grid md:grid-cols-2 md:gap-4">
    <div>
      <img src="/img/main-screen.png"/>
    </div>
    <div>
      <h4 class="text-left">Social media preview out of the box</h4>

      <p>Sitefig audits your website against a number of standards (W3C, HTML5, WCAG) and application provided by Google (Lighthouse),
        Deque (Axe-core) and custom developed by Sitefig.</p>
      <p>Screenshots at different screensizes make sure you know what your customers see.</p>

      <p>Font and image are tested for speed and size, as well as loading the right format.</p>

    </div>
  </div>
</section>
{%  endblock %}
