---
title: Sitefig
layout: layouts/home.njk
---
{% block body %}
  <div class="hero my-14">
    <h1 class="h1 text-center text-secondary font-sans font-bold my-12 py-4" tabindex="0">
      Continuous UX monitoring and auditing for large websites
    </h1>
    <h2 class="h2 text-center mx-0 lg:mx-44 py-4">Sitefig is SaaS platform helping businesses manage their
      websites.<br/>
      Automatically tests your website for <strong>UX issues</strong> (contrast, screenshots, images),
      <strong>Accessibility</strong> and <strong>GDPR compliance</strong>,
      <strong>performance</strong> (Core web vitals), <strong>code</strong> errors (Javascript errors, html issues,
      broken links) while taking care your <strong>Content and SEO</strong> efforts actually pay off.</h2>
  </div>
  <div class="md:grid md:grid-cols-2 lg:grid-cols-3 lg:gap-4 md:gap-2">
      {% include "./_includes/partials/card.njk" %}
  </div>

  <div class="text-center bg-white rounded shadow mt-10 mb-10 lg:mx-64 p-6 font-sans font-bold">
    <figure role="group">
      <img src="img/mozilla-matjas.jpg" alt="Matjas Horvat" class="max-h-32 inline rounded-full"/>
      <blockquote class="text-purple">
        Sitefig is so far ahead in terms of error detection.
      </blockquote>
      <figcaption>
        <span class="text-txt">Matjas Horvat</span>
        <cite class="text-txt text-sm">
          <a href="https://www.mozilla.si/author/matjaz-horvat/">
            Software engineer at moz://a - Mozilla
          </a>
        </cite>
      </figcaption>
    </figure>
  </div>

<div class="md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-4">
{#  {% include "./_includes/partials/second.njk" %}#}
</div>



  </section>
  <section>
    <div class="bg-white rounded shadow mt-10 mb-10 lg:mx-64 p-6">
      <h1 class="text-primary text-3xl font-bold pb-6 font-sans">What makes Sitefig special?</h1>
      <p class="leading-relaxed pb-3">It is build by people who have managed websites for large international companies,
        build
        national portals <strong>used by millions of people</strong>.</p>
      <p class="leading-relaxed pb-3">Sitefig was build for <strong>large websites</strong> and all the issues that come
        with scaled up websites.</p>
      <p class="leading-relaxed pb-3">Web teams are limited in resources and time, just like you and me. <br/>
        And building an automated checklist also takes time.</p>
      <p class="leading-relaxed pb-3">Sitefig solves all those issues and <strong>scans every page for any website you
          like</strong>, while being
        extremely error tolerant so you can be sure that any errors on your website are picked up.</p>
      <p>Sitefig verifies Core web vitals, Accessibility, code quality and GDPR compliance as well as broken links or
        missing resources. </p>
      <p class="leading-relaxed pb-3">There is absolutely no set up needed, <a class="underline text-info"
                                                                               href="https://app.sitefig.eu/accounts/signup/">just
          give it a try</a></p>
    </div>
  </section>





{% endblock %}
