---
templateClass: tmpl-pricing-yearly
---
{% extends 'layouts/base.njk' %}

{% block body %}

  <div class="hero">
    <h1 class="h1 text-center text-secondary font-sans font-bold py-4">
      Pricing
    </h1>
    <h2 class="h2 text-center mx-0 lg:mx-44 py-4">
      Enterprise value, without the price tag.
    </h2>
  </div>

  <div class="md:grid md:grid-cols-1 lg:grid-cols-3 md:gap-6 lg:gap-8 mt-10">

    {% set pricing = pricing.yearly %}
    {% include "./_includes/partials/plan.njk" %}
  </div>
  <h3 class="small h6 text-center underline"><a href="/pricing">Monthly plans available for short projects</a></h3>
  <div class="flex">
    <div class="mx-auto w-2/3 mt-6">

      <h2 class="mb-4 mt-4">Questions and Answers</h2>

      <h3 class="h5"><strong>How long can I test Sitefig?</strong></h3>
      <p>The free trial is 7 days. If you are on Pro or neterprise plan, you can request an extension by email: <a
          href="mailto:support@sitefig.eu">support@sitefig.eu</a></p>

      <h3 class="h5"><strong>What if it is not for me?</strong></h3>
      <p>You can cancel anytime during the free trial and we wil not charge your credit card.</p>

      <h3 class="h5"><strong>When will I be charged?</strong></h3>
      <p>After the 7-day free trial ends, your credit card will be charged.</p>

      <h3 class="h5"><strong>Can the product be customized to fit my specific needs?</strong></h3>
      <p>Yes, we offer customised plans with any modules you would prefer. Our team can work with you to create a
        solution that meets your specific needs.
        Please contact support: <a href="mailto:support@sitefig.eu">support@sitefig.eu</a></p>

      <h3 class="h5"><strong>Where can I find documentation?</strong></h3>
      <p>The <a href="https://app.sitefig.eu/documentation">documentation</a> explains how the audits work and
        how to fix the issues.</p>


      <h3 class="h5"><strong>What is the uptime guarantee?</strong></h3>
      <p>Our uptime guarantee is 95%. You can find more details on our <a href="https://sitefig.statuspage.io/#">status
          and uptime page</a>.</p>

      <h3 class="h5"><strong>How often are updates released, and how are they delivered?</strong></h3>
      <p>To be notified of updates, please sign-up for updates on our <a href="https://sitefig.statuspage.io/#">status
          and uptime page</a>.</p>
      <p>Small updates such as bug fixes are delivered on a weekly basis. Major releases happen every 2 months,
        and are announced on LinkedIn and the status page.</p>


      <h3 class="h5"><strong>What kind of user training is provided?</strong></h3>
      <p>Pro and Enterprise customers have access to an additional service such as a 4 day bootcamp to help
        web-teams improve their websites and learn how to use Sitefig .</p>

      <h3 class="h5"><strong>I have another question, now what?</strong></h3>
      <p>Ask us directly: <a href="mailto:support@sitefig.eu">support@sitefig.eu</a>, we will respond in no time.</p>

    </div>
  </div>
{% endblock %}
