---
layout: layouts/page.njk
---
{% block body %}
  <div class="hero">
    <h1 class="h1 text-center text-secondary font-sans font-bold py-4">
      WCAG Accessibility compliance
    </h1>
    <h2 class="h2 text-center mx-0 lg:mx-44 py-4">
      Get compliant, stay compliant
    </h2>
  </div>

  <section class="card hover:shadow-lg">
    <div class="md:grid md:grid-cols-2 md:gap-4">
      <div>
        {% image "img/web-accessiblity.jpg", "A tree blocking a path in the forest, a metaphor for inaccessible websites." %}

      </div>
      <div>
        <h4 class="text-left">Inaccessible websites are a lot like roadblocks</h4>
        <p>Roadblocks create barriers that prevent people from accessing important information and resources.</p>

        <p>Just like a physical roadblock can prevent car users from reaching their destination, an inaccessible website
          can people with disabilities from accessing information and resources that are available online.</p>

        <p>People with disabilities may have to take another path, and rely on assistive technology or seek assistance
          from others to access the information on an inaccessible website, which can be time consuming and
          frustrating.</p>

        <p> Making a website accessible means removing these barriers and ensuring that everyone can access and navigate
          the website easily, regardless of their abilities.</p>
      </div>
    </div>
  </section>

  <div class="container md:max-w-2xl mx-auto flex flex-wrap justify-center py-8">
    <div class="bg-gradient-to-r from-teal to-cyan p-6 rounded text-black text-center ">
      <a class="h4 block" href="https://app.sitefig.eu/accounts/signup/">
        Try out sitefig for free, and set up a DEMO account.<br/>
        <small>(Scan 100 pages for free)</small>
      </a>
    </div>
  </div>

  <section class="card hover:shadow-lg">
    <div class="md:grid md:grid-cols-2 md:gap-4">
      <div>
        {% image "img/cookies-gdpr.png", "A screenshot of the cookies dashboard with navigation providing access to Cookies, Trackers and much more" %}
      </div>
      <div>
        <h4 class="text-left">Get compliant, stay compliant</h4>
        <p>Monitoring can be used to ensure that a website stays compliant with various regulations and standards. One
          way to do this is by setting up monitoring tools to track and alert on specific compliance-related metrics,
          such as the presence of certain cookies or the use of secure connections. Additionally, regular manual audits
          and testing of the website can be conducted to identify and address any non-compliant elements. It is also
          important to stay up to date on relevant regulations and standards and to have policies and procedures in
          place to quickly address any compliance issues that are identified through monitoring.</p>
      </div>
    </div>
  </section>

{% endblock %}
