<div class="postlist pt-4 pb-6">
{% for post in postslist%}
<div class="px-3 py-6">
    <p class="text-gray-800 text-center text-sm">
    Posted in /{{post.tags}}/ on {{ post.date | readableDate}}
    </p>
    {% include "./partials/h2.njk" %}
    <div class="md:grid md:grid-rows-1 md:grid-flow-col md:gap-4">
    <div class="md:col-span-2">
      {% include "./partials/description.njk" %}
    </div>
    {% if post.image %}
      <div class="mt-5 pt-4 align-middle">{% image post.image.url, post.image.alt %}</div>
    {% endif %}
    </div>
{% endfor %}
</div>

