<div class="shadow rounded border-secondary bg-white p-2">
 <h4 class="p-3 text-center">{{title}}}</h4>
<div>
<img src="/img/main-screen.png" />
<h5><a class="underline text-info" href="/scheduled-crawling">{{sub_title}}}</a></h5>
<p>{{p1}}}</p>
<p>{{p2}}}</p>
</div>
</div>
