<h3 class="inline tracking-tight border-l-3 border-secondary">
    <a href="/posts/{{ post.slug }}" class="postlist-link">{% if post.title %}{{ post.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
</h3>
