<div class="container md:max-w-2xl mx-auto flex flex-wrap justify-center py-8">
  <div class="bg-cyan p-6 rounded text-white text-center ">
    <a class="h4 block " href="/pricing">
      <span class="block underline">Try out sitefig for free</span>
      <small>(Scan 100 pages for free, 7 day trial, money-back guarantee, Trial account)</small>
    </a>
  </div>
</div>
